.card {
    display: flex;
    flex-direction: column;
    height: 367px;
    flex-basis: 350px;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33,36,41, 0.05);
    border-radius: 12px;
}

.card__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__title {
    font-size: 21px;
    margin-bottom: 30px;
    max-width: 100%;
    overflow: hidden;
}